.home{
    margin: auto;
}
.header{
    color: aquamarine;
}

.body{
   position: fixed;
   display: flex;   
}

.item-container{
    width: 70%;
    margin-left: 30px;
    margin-right: 30px;    
 }
 
.item{
    display: flex;
    flex-wrap: wrap;  
}

.cart{
    text-align: center;
    width: 25%;
    height: auto;
    background-color: grey;
    margin: 0 20px 0 0;
    box-shadow: 0 10px 10px 0;
}