.body{
    text-align: center;
    display: inline-block;

}

.product-cont{
    justify-content: center;
}

.item-card{
    width: 250px;
    height: 200px;
    background-color: grey;
    color: aqua;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 10px 15px 25px 15px;
    border-radius: 15px;
    box-shadow: 0 15px 15px 3px rgba(0, 0, 0, 0.5);
}

.image-product{
    text-align: center;
}

.img-01{
    height: 100px;
    width: 80px;
}

